html {
	position: relative;
  	min-height: 100%;
}

body {
  	margin-bottom: 60px;
}

.page-wrapper {
	margin-top: 60px;
}

.dev-mode-indicator-label {
	position: fixed;
	bottom:15px;
	right:15px;
	z-index:100;
}

.dev-mode-info-label {
	position: fixed;
	left: 15px;
	bottom:15px;
	z-index:100;
}

.dinkly-admin-jumbotron {
	background-color: transparent;
}

.dataTables_wrapper .row {
	margin-right: 0px;
	margin-left: 0px;
}

.dinkly-admin-user-menu {
	padding-top: 10px;
}

#add-group-modal .modal-dialog {
	width: 375px;
}

#manage-permissions-modal .modal-dialog {
	width: 800px;
}

#footer {
	background-color: #1477af;
	position: absolute;
	bottom: 0;
	width: 100%;
	text-align: center;
	height: 60px;
}

#footer p {
	color: #FFF;
	margin: 20px 0;
}

.admin-login {
	height: 400px;
  	margin-top: 10%;
}